@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main{
    padding: 30px 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: none;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #242121;
    color: white;
}

th:first-child {
    border-radius: 20px 0 0 0;
}
th:last-child {
    border-radius: 0 20px 0 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* สีพื้นหลังสำหรับแถวคู่ */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* สีพื้นหลังสำหรับแถวคี่ */
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search{
    display: flex;
    gap: 10px;
}

#searchInput{
    width: 20em;
}